<!--<img src="">-->
{% extends 'app1/base.html'%}
{% block body%}
<!--    <h1>{{ album.albumtitle }}</h1>-->
<!--    <h2>{{ album.Description }}</h2>-->

<!--    {% if error_message %}-->
<!--        <p>{{ error_message }}</p>-->
<!--    {% endif %}-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        {% for Photo in album.song_set.all %}-->
<!--            <input type="radio" id="Photo{{forloop.counter}}" name="Photo" value="{{Photo.id}}"/>-->
<!--        <label for="Photo{{forloop.counter}}">-->
<!--            {{Photo.Picture}}-->
<!--            {% if Photo.is_favourite %}-->
<!--            <p>selecteed</p>-->
<!--            {% endif %}-->
<!--        </label><br>-->
<!--        {% endfor %}-->
<!--        <input type="submit" value="favourite">-->
<!--    </form>-->
        <div class="row py-5 px-4">
    <div class="col-md-12 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover" style="background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat">
                <div class="media align-items-end profile-head" style="transform: translateY(5rem)">
                    <div class="profile mr-3"><img src="{{ album.Album_logo }}" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="{% url 'app1:album-update' album.id %}" class="btn btn-outline-dark btn-sm btn-block">Edit Details</a></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{ album.albumtitle }}</h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{{ album.Owner }}</p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <button type="submit"><a href="{% url 'app1:photo-add' album.id %}">Add Photo</a></button>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Photos</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small>
                    </li>
                </ul>
            </div>
            <div class="px-3 py-3">
                <h5 class="mb-0">About</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0">Web Developer</p>
                    <p class="font-italic mb-0">Lives in New York</p>
                    <p class="font-italic mb-0">Photographer</p>
                </div>
            </div>
            <div class="py-4 px-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Recent photos</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                </div>


                    <div class="row">
                    {% for photo in album.photo_set.all %}
                        <form action="{% url 'app1:favourite' album.id%}" method="post" class="col-lg-6 pl-lg-1 mb-2">
                          {% csrf_token %}
                          <div class="">
                              <input type="hidden" id="photo{{ forloop.counter }}" name="photo" value="{{photo.id}}" />

                              <label for="photo{{forloop.counter}}">
                                  <img src="{{ photo.Picture }}" alt="" class="img-fluid rounded shadow-sm">
                                    <button  id="new{{photo.id}}" type="submit" style="position: absolute; right:15px; top:15px;" value="favourite"><span class="fa fa-heart" aria-hidden="true"></span></button>

                                  {% if photo.is_favourite%}
                                      <script>
                                          var demoId = document.getElementById('new{{photo.id}}');
                                          demoId.style.color="red";

                                      </script>

<!--                                    <span class="fa fa-heart" aria-hidden="true" style="color:red; z-index:10; position: absolute; right:15px; top:15px; height:15px">-->
                                  {% endif %}
                              </label>
                              </div>

                        </form>
                        <form action="{% url 'app1:photo-delete' album.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="photo{{ forloop.counter }}" name="photo_id" value="{{photo.id}}" />
                          <button  id="new{{photo.id}}" type="submit" value="deletephoto"><span class="fa fa-trash" aria-hidden="true"></span></button>

                        </form>
                    {% endfor %}
                    </div>


<!--demoId.style.visibility = 'hidden';-->


            </div>
        </div>
    </div>
</div>
{% endblock %}